*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    background-color: #f5f5f5;
}
a{
    color: black;
    text-decoration: none;
    cursor: help;
}
a:hover{
    color:gray;
    text-decoration: none;
}

/*head*/
.head{
    height: 104px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    background-color: white;
    padding: 20px 0;
    color: gray;
    vertical-align: middle;
    line-height: 64px;
}
.glyphicon.glyphicon-search{
    margin-right: 15px;
    margin-top: 5px;
}
.out{
    padding: 20px;
}
.main{
    background-color: white;
    padding: 30px;
}
.contant{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.pic{
    padding: 30px;
    display: flex;
    flex-basis: 25%;
    flex-direction: row;
    flex-wrap: wrap;

}
.picture{
    line-height: 300%;
    flex-basis: 25%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}
/*footer*/
footer{
    width: 800px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    font-size: 30px;
}
footer a{
    color: orangered;
}
.footer{
    text-align: center;
}
